.input_container .m_82577fc2[data-position="right"] {
  border-right: 1px solid #d9d9d9;
  left: 0;
  --section-size: 100px;
}
.input_container .m_8fdc1311 {
  margin-bottom: 12px;
  font-size: 16px;
}
.input_container .m_8fdc1311 {
  font-size: 16px;
}
